li {
	position: relative;
	padding: 15px;
	background-color: var(--light-color);
	box-shadow: 0px 10px 13px -7px var(--darker-color);
	display: flex;
	justify-content: space-between;
	user-select: none;
}

li:not(:last-child) {
	margin-bottom: 10px;
}

label {
	display: flex;
	align-items: center;
	word-break: break-all;
}

.testo {
	font-weight: 600;
}

input[type="checkbox"] {
	all: unset;
}

.checkbox {
	position: relative;
	min-width: 15px;
	min-height: 15px;
	margin-right: 10px;
	background-color: var(--lighter-color);
}
.checkbox::after {
	visibility: hidden;
	position: absolute;
	width: 8px;
	height: 5px;
	content: "";
	border: solid var(--lighter-color);
	border-width: 0px 0px 3px 3px;
	transform: translateY(20%) translateX(20%) rotate(-50deg);
}
.checkbox:hover {
	background-color: var(--dark-color);
}

input[type="checkbox"]:checked ~ span {
	text-decoration: line-through;
	text-decoration-thickness: 2px;
	font-weight: 500;
}

input[type="checkbox"]:checked ~ .checkbox {
	background-color: var(--dark-color);
}
input[type="checkbox"]:checked ~ .checkbox::after {
	visibility: visible;
}

.icon {
	visibility: hidden;
}

li:hover .icon {
	visibility: visible;
	cursor: pointer;
	content: "edit";
}
